
html[data-theme=dark] {
    --pst-color-primary: #04B46D;
    --pst-color-link: var(--pst-color-primary);
  }
  
html[data-theme=light] {
  --pst-color-primary: #03A062;
  --pst-color-link: var(--pst-color-primary);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container{
  padding-bottom: 0.5rem!important;
  padding-top: 0.5rem!important;
  max-width: 720px;
}

.col {
  flex: 0 0 50%;
  max-width: 50%;
}
